bin/
obj/
**/bin/
**/obj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.sqlite
*.db-journal
*.log
appsettings*.json
secrets.json
*.pdb
*.exe
*.dll
PublishProfiles/
*.pid
node_modules/
dist/
